<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.17.1" targetFramework="netnano1.0" />
  <package id="nanoFramework.Graphics.Core" version="1.2.35" targetFramework="netnano1.0" />
  <package id="nanoFramework.Hardware.Esp32" version="1.6.29" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.Button" version="1.2.775" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.Buzzer" version="1.2.775" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.Common.NumberHelper" version="1.2.771" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.ePaper" version="1.0.611" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.Rtc" version="1.2.775" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Events" version="1.11.29" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Adc" version="1.1.22" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Gpio" version="1.1.53" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.I2c" version="1.1.27" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Model" version="1.2.771" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Pwm" version="1.1.21" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Spi" version="1.3.76" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Math" version="1.5.102" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Threading" version="1.1.46" targetFramework="netnano1.0" />
  <package id="Nerdbank.GitVersioning" version="3.7.115" developmentDependency="true" targetFramework="netnano1.0" />
  <package id="UnitsNet.nanoFramework.Frequency" version="5.69.0" targetFramework="netnano1.0" />
  <package id="UnitsNet.nanoFramework.Temperature" version="5.69.0" targetFramework="netnano1.0" />
</packages>